body {
    font-family: Arial, sans-serif;
}
h1{
    margin-top: 10%;
    margin-bottom: 20px;
}
.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* spacing between the 2 cols in flexbox */
    margin-bottom: 10px; /*    adding space after each row in a table*/
}
.form-group {
    display: flex;
    flex-direction: column;
    width: 49%;  /* space between the two columns */
}
.form-group label {
    margin-bottom: 10px; /* adding space after the label text */
}
input, .form-group select {
    /*width: 100%;*/
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

.form-container, h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
}

.booktitle{
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--main-color);
    text-shadow: var(--text-shadow);

}