body {
  font-family: Arial, sans-serif;
  background-image: url("../images/myprofile1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  height: 40px;
}

.edit-btn:hover {
  background-color: #45a049;
}

input[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #007A9B;
}

.formupdate {
  margin-top: 10px;
}

.formupdate label {
  font-weight: bold;
  font-size: 16px;
}

.d-flex {
  display: flex;
}

.d-flex a{
  font-size: 15px;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.btn-edit {
  background-color: transparent;
  color: #000;
  border: 1px solid black;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-edit .fas {
  margin-right: 5px;
}

.btn-edit:hover {
  background-color: #000;
  color: #fff;
}

.profile-data {
  font-size: 16px;
  margin-bottom: 10px;
}

.formupdate .profile-data,
.formupdate.edit-mode input,
.formupdate.edit-mode .hide-on-view {
  display: block;
}

.formupdate input,
.formupdate .hide-on-view,
.formupdate.edit-mode .profile-data {
  display: none;
}

.d-none {
  display: none;
}

.formupdate input[type="radio"]{
  width: auto;
}
.form-options{
  margin-bottom: 10px;
}

.form-options label{
  margin: 0;
}